.list-repositories {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;

    .col-md-4 {
        padding: 0px;
    }
    .repository {
        height: 100%;
        padding: 8px;
        margin: 8px;
        border: 1px solid #4078c0;
        position: relative;

    }
    .language-avatar {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        img {
            width: 100px;
            height: 100px;
        }
    }
    .repository-info {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}
