<section class="container">
    <div class="row">
        <div class="search-block form-group">
            <label for="searchRepository">{{'search_by_repository_name' | translate}}</label>
            <input type="text" class="form-control" id="searchRepository" placeholder="{{'type_here' | translate}}" ng-model="searchRepository.name">
        </div>
    </div>
    <div id="list" class="row list-repositories">
        <article ng-if="homeController.loading">
            <loading></loading>
        </article>
        <article ng-if="!homeController.loading">
            <section class="col-md-6" ng-repeat="repository in results = (homeController.repositories | filter:searchRepository)">
                <div class="repository">
                    <figure class="language-avatar">
                        <img src="../../assets/images/{{repository.language | validateLanguage}}.png" alt="{{repository.language}}">
                    </figure>
                    <div class="repository-info">
                        <div class="box-info">
                            <div class="info-repository-name">
                                <h4>
                                    <a href="{{repository.html_url}}">{{repository.name}}</a>
                                </h4>
                            </div>
                            <div class="info-owner">
                                <h6>{{repository.owner.login}}</h6>
                            </div>
                            <div class="info-description">
                                <span>{{repository.description}}</span>
                            </div>
                        </div>
                        <div class="additional-info">
                            <div class="info-forks">
                                <span class="glyphicon glyphicon-random" aria-hidden="true"></span> {{repository.forks}} Forks
                            </div>
                            <div class="info-stars">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{repository.stars}} Stars
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <no-results ng-if="results.lenght == 0"></no-results>
        </article>
    </div>
</section>
